body{
	background: url('../img/bg.jpg') no-repeat center;
	background-attachment: fixed;
}
.bloco1{
	background: url('../img/bg_titulo.jpg') no-repeat center;
	min-height: 100vh;
}
.bloco1 h2{
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
h2 span{
	font-size: 0.7em;
    display: block;
}
.divisoria{
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.div1{background-image: url('../img/parallax1.jpg');}
.div2{background-image: url('../img/parallax2.jpg');}
.espera-video{border: 2px solid;}
.div3{background-image: url('../img/parallax3.jpg');}
.destaque-imagem{
	background: url('../img/img6.jpg') no-repeat center;
	padding: 50px;
	margin: 50px auto;
}
.destaque-imagem p{
	color: #fff;
	margin: 0;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.div4{background-image: url('../img/parallax4.jpg');}
.div5{background-image: url('../img/parallax5.jpg');}

@media (max-width: 780px){
	.bloco1{
		background-image: none;
		min-height: unset;
		padding: 0;
	}
	.bloco1 h2{
		color: #000;
		text-shadow: unset;
	}
}

@media (max-width: 480px){
	.destaque-imagem{
		background: url('../img/img6_mobile.jpg') no-repeat center;
	}
}