@font-face {
    font-family: "caveat";
    src: url("../fonts/Caveat.ttf");
}
body{
	background: #f3a34c;
	background: radial-gradient(farthest-corner at 100% 50%, rgba(243, 163, 76, 1) 0%, transparent 60%), 
	radial-gradient(farthest-corner at 10% 10%, rgba(243, 163, 76, 1) 0%, transparent 60%), 
	linear-gradient(120deg, rgba(243, 163, 76, 1) 0%, rgba(255,255,255,1) 40%, rgba(190, 153, 160,1) 100%);
}
.espera-objeto{
	border: 2px solid #fff; 
	height: 300px;
	width: 100%;
	display: block;
}
.bloco1{
	background: url('../img/bg_img.jpg') no-repeat;
	background-size: cover;
	padding: 100px 0;
}
.bloco1 p, .bloco1 h2{color: #fff;}
.container > h2, .container > h3{position: relative;}
.container > h2::before, .container > h3::before{
	content: '';
	background: url('../img/bg_elemento1.png') no-repeat;
	width: 285px;
	height: 249px;
	display: block;
	position: absolute;
	left: -300px
}
.bloco2{
	padding: 100px 0;
	
}
.postit div{
	padding: 40px 30px;
}
.postit p, .postit b{
	font-family: caveat;
	margin-bottom: 10px;
}
.postit b{
	color: #5c000f;
	font-size: 1.1em;
}
.postit1{
	background: url('../img/postit1.png') no-repeat;
	width: 216px;
	height: 260px;
}
.postit2{
	background: url('../img/postit2.png') no-repeat;
	width: 266px;
	height: 315px;
}
.postit3{
	background: url('../img/postit3.png') no-repeat;
	width: 267px;
	height: 344px;
}
.postit4{
	background: url('../img/postit4.png') no-repeat;
	width: 221px;
	height: 261px;
}
.bloco3{
	background-image: url('../img/bg_elemento2.png'), url('../img/bg_elemento3.png');
	background-repeat: no-repeat;
	background-position: right top, left center;
	background-color: transparent;
	background-size: 15%;
}
.destaque-imagem{
	background: url('../img/destaque.png') no-repeat center;
	width: 962px;
	height: 286px;
	padding: 50px;
}
.destaque-imagem p{
	color: #fff;
	text-align: center;
	margin: 0;
}
.painel1 button{
	position: relative;
	width: 406px;
	height: 407px;
	border: none;
	background-color: transparent;
	margin: 20px 0;
}
.painel1 .bt-latitude{
	background: url('../img/bt1.png') no-repeat center;
}
.painel1 .bt-longitude{
	background: url('../img/bt2.png') no-repeat center;
}
.painel1 button::before{
	content: '';
	display: none;
	background: url('../img/bt_hover.png') no-repeat;
	width: 406px;
	height: 407px;
	position: absolute;
	top: -15px;
	left: -15px;
	z-index: -1;
	-webkit-animation: rotate-center 15s linear infinite both;
	        animation: rotate-center 15s linear infinite both;
}
.painel1 button:hover::before{display: block;}
.painel1 button span{
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 265px;
}
.painel1 button.check.visitado::after{
	top: 0px;
    right: 70px;
}

@-webkit-keyframes rotate-center {
	0% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
}
@keyframes rotate-center {
	0% {
		-webkit-transform: rotate(0);
				transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

.gradiente li{color: #fff;}

.flip-card {
    width: 400px;
    height: 400px;
}
.bloco4{
	background: url('../img/bg_elemento4.png') no-repeat left top 200px transparent;
	background-size: 15%;
}
.painel2{
	background: url('../img/painel.png') no-repeat;
	width: 843px;
	height: 566px;
	margin: 50px auto;
	position: relative;
}
.painel2 button{
	width: 150px;
	height: 148px;
	position: absolute;
	background-color: transparent;
	border: none;
}
.painel2 button:hover{
	background: url('../img/painel_hover.png') no-repeat;
}
.bt-circular{
	top: 27px;
    left: 30px;
}
.bt-emoito{
	top: 209px;
    left: 167px;
}
.bt-linear{
	top: 213px;
    left: 352px;
}
.bt-tecnica{
	top: 156px;
    right: 155px;
}
.bt-mista{
	bottom: 44px;
    right: 25px
}

.painel2 .check.visitado::after{
	top: 75px;
    right: 55px;
}
@media (max-width: 1380px){
	.container > h2::before, .container > h3::before{
		background-size: contain;
		width: 140px;
		left: -150px;
	}
}
@media (max-width: 1280px){
	.container > h2::before, .container > h3::before{display: none;}
	.bloco3, .bloco4{background-image: none;}
}

@media (max-width: 1080px){
	.destaque-imagem{
		background: url('../img/destaque_mobile.png') no-repeat center;
		width: 431px;
		height: 620px;
	}
}

@media (max-width: 900px){
	.bloco1{padding-top: 10px;}
	.bloco2, .bloco3, .bloco4{padding: 50px 0;}
	.bloco4{padding-top: 0;}
	.destaque-imagem{height: auto;}
	.painel2{
		background: url('../img/layout_painel_mobile.png') no-repeat;
		width: 362px;
		height: 682px;
		margin: 50px auto;
		position: relative;
	}
	.painel2 button{
		width: 90px;
		height: 90px;
	}
	.painel2 button:hover{background-image: unset;}
	.bt-circular {
		top: 116px;
		right: 4px;
		left: unset;
	}
	.bt-emoito {
		top: 215px;
		left: 90px;
	}
	.bt-linear {
		top: 356px;
		left: 130px;
	}
	.bt-tecnica {
		top: unset;
		bottom: 100px;
		right: 101px;
	}
	.bt-mista {
		bottom: 4px;
		left: 10px;
		right: unset;
	}
	.painel2 .check.visitado::after {
		top: -12px;
		right: 0;
	}
}